---
layout: page
title: Blog
description: null
image: null
nav-menu: true
show_tile: false
---

<div class="posts-list">
  {% for post in site.posts %}
  <article class="post-preview">
    <h2 class="post-title">
      <a href="{{ post.url | relative_url }}">{{ post.title }}</a>
    </h2>
    <p class="post-meta">
      {{ post.date | date: "%B %-d, %Y" }}
    </p>
    {% if post.description %}
      <p class="post-excerpt">{{ post.description }}</p>
    {% else %}
      <p class="post-excerpt">{{ post.excerpt | strip_html | truncatewords: 30 }}</p>
    {% endif %}
    <a href="{{ post.url | relative_url }}" class="post-read-more">Read more &rarr;</a>
    <hr />
  </article>
  {% endfor %}
</div>
