<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>

    {% include header.html %}

    <main class="container" style="max-width: 42em;">
        <h2>All Posts</h2>
        {% for post in site.posts %}
        <article class="mb-4 pb-4 border-bottom">
            <h3><a href="{{ post.url | relative_url }}">{{ post.title }}</a></h3>
            {% if post.date %}<p class="text-muted">{{ post.date | date: "%B %-d, %Y" }}</p>{% endif %}
            {% if post.description %}<p>{{ post.description }}</p>{% endif %}
        </article>
        {% endfor %}
    </main>

    {% include footer.html %}

</body>

</html>
