<!DOCTYPE html>
<html lang="{{ page.lang | default: 'en' }}">

{% include head.html %}

<body>

    {% include blog-header.html %}

    <main class="site-column">
        <article>
            <h2>{{ page.title }}</h2>
            {% if page.date %}
            <p class="text-muted">
              {% if page.lang == "cz" %}
                {{ page.date | date: "%-d. %-m. %Y" }}
              {% else %}
                {{ page.date | date: "%B %-d, %Y" }}
              {% endif %}
            </p>
            {% endif %}
            {% if page.image %}<img src="{{ site.baseurl }}/{{ page.image }}" alt="" class="img-fluid mb-3" />{% endif %}
            {{ content }}
        </article>
    </main>

    {% include footer.html %}

</body>

</html>
